

/* Removing the default browser padding and margin and changing the box to border-box from content-box */
*
{ 
	margin: 0; padding: 0; box-sizing: border-box;
}

/* Body CSS */
body
{
	min-height: 100vh;
	display: flex; 
	justify-content: center;
	align-items: center;
	background: linear-gradient(to top, #d3cce3, #e9e4f0); 
	font-family: 'Poppins', sans-serif;
}

/* Editing the card contents */

.card
{
	width: 24%;
	background-color: #fff;
	border-radius: 5%;
	overflow: hidden;
	box-shadow: 0 10px 25px rgba(97, 161, 221,0.2);
	text-align: center;
}

/* Card Header CSS */

.card-head
{
	padding: 11% 0;
	background: linear-gradient(45deg, #396afc, #2948ff);
}

/* Profile Image CSS */

.card-head img
{
	width:120px; 
	height:120px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Setting the CSS of the body of the card */

.card-body
{
	color: #565656;
	padding:10%;
}

/* Name CSS */

.card-body h2
{
	text-transform: uppercase; font-size: 1.8vw;
}

/* Username CSS */

.card-body .username
{
	font-size: 1.1vw; color: #9E9E9E;
}

/* Adjusting the CSS of the icons */

.card-body .social-media
{
	display: flex;
	justify-content: center;
	margin: 10% 0;
}

/* Designing the link of the icons */

.card-body .social-media a
{
	text-decoration: none;
	color: #565656;
	transition: all 0.3s;
	font-size: 2.5vw;
}

/* CSS of the icon when we bring the cursor on the icon */

.card-body .social-media a:hover
{
	color: #DB124B;
}

/* Space between the icons */

.card-body .social-media a:not(:last-child)
{
	margin-right: 15%;
}

/* CSS of the center about text */

.card-body .about
{ 
	margin-bottom: 15%; 
}

/* Designing the message button */

.card-body .btn
{
	display: inline-block;
	text-decoration: none;
	padding: 6% 18%;
	background: linear-gradient(45deg, #396afc, #2948ff);
	color: #fff;
	border-radius: 100px;
	margin-bottom: 2%;
	transition: all 0.3s;
}

/* CSS of the button when we bring the cursor on it */

.card-body .btn:hover
{ 	
	opacity: 0.8; 
}